/* * ---------------MAIN STYLES---------------  */

:root {
  --main-font: "Open Sans", sans-serif;
  --accent-text-color: #ff6c00;

  /* main text color */
  --primary-text-color: #555555;
  --secondary-text-color: #303030;
  --primary-light-text-color: #ffffff;
  --secondary-light-text-color: #9da4bd;

  /* main background color */
  --white-bg-color: #ffffff;
  --dark-bg-color: #111319;
  --gray-bg-color: #f7f7f7;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--white-bg-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

/* * ---------------MAIN FONT STYLES---------------  */
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  letter-spacing: 0.05em;
  color: var(--primary-light-text-color);
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

/* * ---------------BUTTONS---------------  */
.btn {
  min-width: 160px;
  padding: 12px 20px;

  border: 1px solid #ff6c00;
  border-radius: 25px;

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--primary-light-text-color);
  background-color: var(--accent-text-color);
}

.btn-mode-dark {
  color: var(--primary-light-text-color);
}

.btn-mode-light {
  color: var(--secondary-text-color);
}

/* * ---------------HEADER---------------  */
.header {
  padding-top: 32px;
  background-color: var(--dark-bg-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  margin-right: 130px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: var(--primary-light-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
}

.header-phone {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 45px;

  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: var(--primary-light-text-color);
}

.header-phone:hover,
.header-phone:focus {
  color: var(--accent-text-color);
}

/* * ---------------HERO---------------  */
.hero-container {
  display: flex;
}

.hero-socials-list {
  width: 100px;
}

.socials-link {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color);
}

.socials-link:hover,
.socials-link:focus {
  color: #ff6c00;
}

.hero-overlay {
  flex-grow: 1;
  padding: 272px 100px 208px;
  background-color: var(--dark-bg-color);
}

.hero-pretitle {
  margin-bottom: 20px;
}

.hero-title {
  margin-bottom: 20px;
}

.hero-text {
  max-width: 360px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-light-text-color);
}

.btn-slider {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-align: right;

  background-color: transparent;
  cursor: pointer;
}

.btn-slider-disabled {
  color: rgba(157, 164, 189, 0.6);
  text-align: left;
}

/* * ---------------ABOUT---------------  */
.about-container {
  display: flex;
  gap: 64px;
  padding-top: 130px;
  padding-bottom: 130px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-content {
  max-width: 500px;
}

.about-pretitle {
  margin-bottom: 20px;
}

.about-title {
  margin-bottom: 20px;
}

.about-top-text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.about-bottom-text {
  margin-bottom: 40px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

/* * ---------------SERVICES AND PRICES---------------  */

.services {
  background-color: var(--dark-bg-color);
}

.services-container {
  padding-top: 130px;
  padding-bottom: 130px;
}

.services .pre-title {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}

.services .section-title {
  margin-bottom: 44px;
  color: var(--primary-light-text-color);
}

.services-list {
  display: flex;
  margin-bottom: 50px;
}

.services-item {
  width: calc(100% / 2);
  border: 1px solid #ffffff;
}

.inner-list {
  padding: 30px 40px;
}

.services .inner-item {
  display: flex;
  justify-content: space-between;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-light-text-color);
}

.services .inner-item:not(:last-child) {
  margin-bottom: 10px;
}

.services-btn {
  display: block;
  margin: 0 auto;
}

/* * ---------------FEATURES---------------  */
.features-container {
  padding-bottom: 130px;
  padding-top: 130px;

  display: flex;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 130px;
}

.features-item {
  padding: 20px;
  width: 170px;
  background-color: var(--gray-bg-color);
}

.features-item:nth-child(odd) {
  margin-right: 30px;
}

.features-content {
  max-width: 500px;
}

.features-top-item {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--secondary-text-color);
}

.features-bottom-item {
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  color: var(--secondary-text-color);
}

.features-pretitle {
  margin-bottom: 20px;
}

.features-title {
  margin-bottom: 20px;
}

.features-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* * ---------------OUR BARBERS---------------  */

.barbers-container {
  padding-top: 130px;
  padding-bottom: 130px;
}

.barbers-pretitle {
  margin-bottom: 20px;
}

.barbers-title {
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}
.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-img {
  margin-bottom: 30px;
}

.barbers-subtitle {
  margin-bottom: 8px;

  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text-color);
}

.barbers-text {
  margin-bottom: 30px;

  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-text-color);
}

/* * ---------------GALLERY---------------  */
.gallery-container {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery-pretitle {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 30px;
}

.galery-item {
  width: calc((100% - 90px) / 4);
}

/* * ---------------FORM---------------  */

.form-contacts-wrap {
  display: flex;
  background-color: #111319;
}

.form-container {
  padding-top: 130px;
  padding-bottom: 130px;
  width: 50%;
}

/* * ---------------CONTACTS---------------  */

.contacts-container {
  padding-top: 130px;
  padding-bottom: 130px;
}

.contacts-adress {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-light-text-color);
}

.contacts-map {
  font-weight: 700;
}

.contacts-mail {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.contacts-pre-title {
  color: var(--primary-light-text-color);
}

.contacts-working-hours-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-light-text-color);
}

/* * ---------------FOOTER---------------  */
.footer-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 56px;
}

.copyright-text {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: var(--secondary-light-text-color);
}
